# 

## Contents

  - [Example notebooks](#Example-notebooks)
    - [Python Introduction](#Python-Introduction)
    - [Visualization](#Visualization)
    - [Quantum information processing](#Quantum-information-processing)
      - [Quantum circuits and algorithms](#Quantum-circuits-and-algorithms)
      - [Pulse-level circuit simulation](#Pulse-level-circuit-simulation)
    - [Time evolution](#Time-evolution)
    - [Hierarchical Equations of Motion](#Hierarchical-Equations-of-Motion)
    - [Miscellaneous tutorials](#Miscellaneous-tutorials)
  - [Quantum mechanics lectures with QuTiP](#Quantum-mechanics-lectures-with-QuTiP)
  - [Contributing](#Contributing)


## Example notebooks

### Python Introduction




### Visualization




### Quantum information processing

This section requires an additional package [qutip-qip](https://github.com/qutip/qutip-qip),
which is already installed in the try-qutip environment.

#### Quantum circuits and algorithms



#### Pulse-level circuit simulation




### Time evolution




### Hierarchical Equations of Motion




### Miscellaneous tutorials




## Quantum mechanics lectures with QuTiP

These lecture-style notebooks focus on particular quantum mechanics
topics and analyze them numerically using QuTiP (some more detailed than others).




## Contributing

If you would like to contribute a notebook or report a bug, you may open
an issue or pull request in the
[qutip-tutorials](https://github.com/qutip/qutip-tutorials) GitHub repository.

A few of the notebooks are still maintained in the repository
[qutip-notebooks](https://github.com/qutip/qutip-notebooks) and
a complete archive of older versions of the tutorials is maintained there.
