---
jupyter:
  jupytext:
    text_representation:
      extension: .md
      format_name: markdown
      format_version: '1.3'
      jupytext_version: 1.13.8
  kernelspec:
    display_name: Python 3 (ipykernel)
    language: python
    name: python3
---

# {{ title }}

## Contents

  - [Example notebooks](#Example-notebooks)
    - [Python Introduction](#Python-Introduction)
    - [Visualization](#Visualization)
    - [Quantum information processing](#Quantum-information-processing)
      - [Quantum circuits and algorithms](#Quantum-circuits-and-algorithms)
      - [Pulse-level circuit simulation](#Pulse-level-circuit-simulation)
    - [Time evolution](#Time-evolution)
    - [Hierarchical Equations of Motion](#Hierarchical-Equations-of-Motion)
    - [Miscellaneous tutorials](#Miscellaneous-tutorials)
  - [Quantum mechanics lectures with QuTiP](#Quantum-mechanics-lectures-with-QuTiP)
  - [Contributing](#Contributing)


## Example notebooks

### Python Introduction

{% for item in tutorials['python-introduction'] %}
  - [{{ item.title }}]({{ item.try_qutip_url }})
{% endfor %}


### Visualization

{% for item in tutorials['visualization'] %}
  - [{{ item.title }}]({{ item.try_qutip_url }})
{% endfor %}


### Quantum information processing

This section requires an additional package [qutip-qip](https://github.com/qutip/qutip-qip),
which is already installed in the try-qutip environment.

#### Quantum circuits and algorithms

{% for item in tutorials['quantum-circuits'] %}
  - [{{ item.title }}]({{ item.try_qutip_url }})
{% endfor %}

#### Pulse-level circuit simulation

{% for item in tutorials['pulse-level-circuit-simulation'] %}
  - [{{ item.title }}]({{ item.try_qutip_url }})
{% endfor %}


### Time evolution

{% for item in tutorials['time-evolution'] %}
  - [{{ item.title }}]({{ item.try_qutip_url }})
{% endfor %}


### Hierarchical Equations of Motion

{% for item in tutorials['heom'] %}
  - [{{ item.title }}]({{ item.try_qutip_url }})
{% endfor %}


### Miscellaneous tutorials

{% for item in tutorials['miscellaneous'] %}
  - [{{ item.title }}]({{ item.try_qutip_url }})
{% endfor %}


## Quantum mechanics lectures with QuTiP

These lecture-style notebooks focus on particular quantum mechanics
topics and analyze them numerically using QuTiP (some more detailed than others).

{% for item in tutorials['lectures'] %}
  - [{{ item.title }}]({{ item.try_qutip_url }})
{% endfor %}


## Contributing

If you would like to contribute a notebook or report a bug, you may open
an issue or pull request in the
[qutip-tutorials](https://github.com/qutip/qutip-tutorials) GitHub repository.

A few of the notebooks are still maintained in the repository
[qutip-notebooks](https://github.com/qutip/qutip-notebooks) and
a complete archive of older versions of the tutorials is maintained there.
