<!DOCTYPE html>
<html lang="en">

{% raw %} {% include head.html %} {% endraw %}

<body>
    <header> {% raw %} {% include navbar.html %} {% endraw %} </header>

<div class="row">
<div class="col-md-12">
<h1>{{ title }}</h1><br>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p>This page contains our collection of <a href="https://jupyter.org/">Jupyter</a> (formerly <a href="https://ipython.org/notebook.html">IPython</a>) notebooks
for introducing and demonstrating features of QuTiP.
Going through these notebooks should be a good way to get familiarized with the software.
If you are new to scientific computing with Python, you might also find it
useful to have a look at these IPython notebook
<a href="https://jrjohansson.github.io/">Lectures on scientific computing with Python</a>.
</p>
<p> {{ version_note }} </p>
<p> A guide for transitioning from version 4 to version 5 can be found <a href="https://colab.research.google.com/drive/18TcuHNQifYSHdGey7otK8IPDB1YbDZpW?usp=sharing">here</a>. </p>
<p>The following are the contents of this page:</p>
<ul>
<li><a href="#example-notebooks">Example notebooks</a>
	<ul>
	<li><a href="#python-introduction">Python Introduction</a></li>
	<li><a href="#visualizations">Visualization</a></li>
	<li><a href="#quantum-information-processing">Quantum information processing</a></li>
	<ul>
	<li><a href="#qip-circuits">Quantum circuits and algoritms</a></li>
	<li><a href="#qip-pulse-level">Pulse-level circuit simulation</a></li>
	</ul>
	<li><a href="#time-evolution">Time evolution</a></li>
	<li><a href="#optimal-control">Optimal control</a></li>
	<li><a href="#tomography">Tomography</a></li>
	<li><a href="#piqs">Permutational invariant Lindblad dynamics</a></li>
	<li><a href="#heom">Hierarchical Equations of Motion</a></li>
	<li><a href="#miscellaneous">Miscellaneous tutorials</a></li>
	</ul>
</li>
<li><a href="#lectures">Quantum mechanics lectures with QuTiP</a></li>
<li><a href="#contributing">Contributing</a></li>
</ul>
</div>
</div>


<div class="row">
<div class="col-md-12">
<h3 id="example-notebooks">Example notebooks</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p>These notebooks demonstrate and introduce specific functionality in QuTiP.
</p>

</div>
</div>

<div class="row">
<div class="col-md-6">
<h4 id="python-introduction">Python Introduction</h4>
<ul>
{% for item in tutorials['python-introduction'] %}
    <li><a href="{{ item.nbviewer_url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>
<p>For a more in depth discussion see: <a href="https://github.com/jrjohansson/scientific-python-lectures">Lectures on scientific computing with Python</a>.</p>


<h4 id="visualizations">Visualization</h4>
<ul>
{% for item in tutorials['visualization'] %}
    <li><a href="{{ item.nbviewer_url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>

<h4 id="quantum-information-processing">Quantum information processing</h4>
<p>This section requires an additional package <a href="https://github.com/qutip/qutip-qip">qutip-qip</a>.</p>

<h5 id="qip-circuits">Quantum circuits and algorithms</h5>
<ul>
{% for item in tutorials['quantum-circuits'] %}
    <li><a href="{{ item.nbviewer_url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>

<h5 id="qip-pulse-level">Pulse-level circuit simulation</h5>
<ul>
{% for item in tutorials['pulse-level-circuit-simulation'] %}
    <li><a href="{{ item.nbviewer_url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>

</div>

<div class="col-md-6">

<h4 id="time-evolution">Time evolution</h4>
<ul>
{% for item in tutorials['time-evolution'] %}
    <li><a href="{{ item.nbviewer_url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>


<h4 id="optimal-control">Optimal control</h4>
<ul>
{% for item in tutorials['optimal-control'] %}
    <li><a href="{{ item.nbviewer_url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>

<h4 id="tomography">Tomography</h4>
<ul>
<li> <a href="https://nbviewer.jupyter.org/github/qutip/qutip-notebooks/blob/master/examples/tomography-iMLE-photon-counting.ipynb">Density matrix estimation with iterative maximum likelihood estimation</a> </li>
</ul>

<h4 id="piqs">Permutational invariant Lindblad dynamics</h4>
<ul>
<li> <a href="https://nbviewer.jupyter.org/github/qutip/qutip-notebooks/blob/master/examples/piqs-overview.ipynb">Overview</a> </li>
<li> <a href="https://nbviewer.jupyter.org/github/qutip/qutip-notebooks/blob/master/examples/piqs-superradiant-light-emission.ipynb">Superradiant light emission</a> </li>
<li> <a href="https://nbviewer.jupyter.org/github/qutip/qutip-notebooks/blob/master/examples/piqs-steadystate-superradiance.ipynb">Steady state superradiance</a> </li>
<li> <a href="https://nbviewer.jupyter.org/github/qutip/qutip-notebooks/blob/master/examples/piqs-open-dicke-model.ipynb">Open Dicke model</a> </li>
<li> <a href="https://nbviewer.jupyter.org/github/qutip/qutip-notebooks/blob/master/examples/piqs-spin-squeezing-noise.ipynb">Spin squeezing with noise</a> </li>
<li> <a href="https://nbviewer.jupyter.org/github/qutip/qutip-notebooks/blob/master/examples/piqs-boundary-time-crystals.ipynb">Boundary time crystals</a> </li>
<li> <a href="https://nbviewer.jupyter.org/github/qutip/qutip-notebooks/blob/master/examples/piqs-multiple-spin-ensembles.ipynb">Multiple spin ensembles</a> </li>
<li> <a href="https://nbviewer.jupyter.org/github/qutip/qutip-notebooks/blob/master/examples/piqs-entropy_purity.ipynb">Von Neumann entropy and purity</a> </li>
</ul>

<h4 id="heom">Hierarchical Equations of Motion</h4>
<ul>
{% for item in tutorials['heom'] %}
    <li><a href="{{ item.nbviewer_url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>

<h4 id="miscellaneous">Miscellaneous tutorials</h4>
<ul>
{% for item in tutorials['miscellaneous'] %}
    <li><a href="{{ item.nbviewer_url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>

</div>
</div>

<div class="row">
<div class="col-md-12">
<h3 id="lectures">Quantum mechanics lectures with QuTiP</h3>

<p>These lecture-style notebooks focus on particular quantum mechanics
topics and analyze them numerically using QuTiP (some more detailed than others).</p>

<ul>
{% for item in tutorials['lectures'] %}
    <li><a href="{{ item.nbviewer_url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>

</div>
</div>

<div class="row">
<div class="col-md-12">
<h3 id="contributing">Contributing</h3>
<p>If you would like to contribute a notebook or report a bug, you may open
an issue or pull request in the
<a href="https://github.com/qutip/qutip-tutorials">qutip-tutorials</a>
GitHub repository.
</p>
<p>A few of the notebooks are still maintained in the repository
<a href="https://github.com/qutip/qutip-notebooks">qutip-notebooks</a> and
a complete archive of older versions of the tutorials is maintained there.
</p>

</div>
</div>

{% raw %}
<footer>{% include footer.html %}</footer>
{% include scripts.html %}
{% endraw %}

</body>
</html>