---
title: QuTiP Tutorials
---
{% include header.html %}
{% include navbar.html %}<div class="row">
<div class="col-md-12">
<h1>Tutorials</h1><br>
</div>
</div>

<div class="row">
<div class="col-md-6">

<h5 id="qip-circuits">Quantum circuits and algorithms</h5>
<ul>

    <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v4/quantum-circuits/qip-toffoli-cnot.ipynb">Decomposition of the Toffoli gate in terms of CNOT and single-qubit rotations</a></li>

    <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v4/quantum-circuits/qasm.ipynb">Imports and Exports QASM circuit</a></li>

    <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v4/quantum-circuits/quantum-gates.ipynb">QuTiP example: Quantum Gates and their usage</a></li>

    <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v4/quantum-circuits/teleportation.ipynb">Quantum Teleportation Circuit</a></li>

</ul>

<h5 id="qip-pulse-level">Pulse-level circuit simulation</h5>
<ul>

    <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v4/pulse-level-circuit-simulation/qip-10-qubit-QFT-algorithm.ipynb">Compiling and simulating a 10-qubit Quantum Fourier Transform (QFT) algorithm</a></li>

    <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v4/pulse-level-circuit-simulation/qip-customize-device.ipynb">Custimize the pulse-level simulation</a></li>

    <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v4/pulse-level-circuit-simulation/qip-optpulseprocessor.ipynb">Examples for OptPulseProcessor</a></li>

    <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v4/pulse-level-circuit-simulation/qip-scheduler.ipynb">Scheduler for quantum gates and instructions</a></li>

    <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v4/pulse-level-circuit-simulation/qip-randomized-benchmarking.ipynb">Simulating randomized benchmarking</a></li>

    <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v4/pulse-level-circuit-simulation/qip-processor-DJ-algorithm.ipynb">Simulating the Deutsch–Jozsa algorithm at the pulse level</a></li>

    <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v4/pulse-level-circuit-simulation/qip-relaxation-measurement-with-the-idling-gate.ipynb">measuring the relaxation time with the idling gate</a></li>

</ul>

</div>


</div>
</div>


<div class="row">
<div class="col-md-12">
<h3 id="contributing">Contributing</h3>
<p>If you would like to contribute a notebook or report a bug, you may open
an issue or pull request in the
<a href="https://github.com/qutip/qutip-tutorials">qutip-tutorials</a>
GitHub repository.
</p>
<p>A few of the notebooks are still maintained in the repository
<a href="https://github.com/qutip/qutip-notebooks">qutip-notebooks</a> and
a complete archive of older versions of the tutorials is maintained there.
</p>

</div>
</div>{% include footer.html %}